$grey: #a7acbc;
$pink: #bb0085;
$purple: #49007c;

%boldText {
  font-family: 'ProximaNB', sans-serif;
}

%regularText {
  font-family: 'ProximaNR', sans-serif;
}

%lightText {
  font-family: 'ProximaNL', sans-serif;
}
%header {
  font-size: 2.6rem;
}
%gradient {
  background: -moz-linear-gradient(16deg, $purple , $pink);
  background: -webkit-linear-gradient(16deg, $purple , $pink);
  background: -ms-linear-gradient(16deg, $purple , $pink);
  background: linear-gradient(16deg, $purple , $pink);
}

%gradientHover {
  background: -moz-linear-gradient(16deg, $pink, $purple);
  background: -webkit-linear-gradient(16deg, $pink, $purple);
  background: -ms-linear-gradient(16deg, $pink, $purple);
  background: linear-gradient(16deg, $pink, $purple);
  transition: background 0.7s;
}

%button {
  width: 205px;
  padding: 0.6rem 2.88rem;
  border-radius: 1.7rem;
  color: #fff;
  @extend %gradient;
  @extend %regularText;
  &:hover {
    @extend %gradientHover;
  }
  &:active {
    border-color: transparent;
  }
  &:focus {
    border-color: transparent;
  }
}

%paddingColumnRight {
  padding-right: 4.44rem;
}

%paddingColumnLeft {
  padding-left: 4.44rem;
}
%subheader {
  font-size: 1.8rem;
}
%smallText {
  font-size: 1.1rem;
}