@font-face {
  font-family: ProximaNB;
  src: local("ProximaNova"), url("../fonts/ProximaNova-Bold.ttf"); }
@font-face {
  font-family: ProximaNL;
  src: local("ProximaNova"), url("../fonts/ProximaNova-Light.ttf"); }
@font-face {
  font-family: ProximaNR;
  src: local("ProximaNova"), url("../fonts/ProximaNova-Regular.ttf"); }
.section-main .main-header, .sect-one .best-block .best-capt .best-item, .sect-two .sect-two-header, .sect-two .services-capt, .sect-four .sect-four-capt, .sect-four .team-container .team-container-capt, .footer .footer-descr .footer-descr-bold {
  font-family: 'ProximaNB', sans-serif; }

.section-main .price-btn-container .btn-container, .sect-one .best-block .price-btn-container .btn-container, .sect-two .price-btn-container .btn-container, .sect-three .center .slick-slide .overlay .overlay-btn-container .overlay-btn, .sect-four .overlay-btn-container .overlay-btn, .section-main .header .menu-nav .nav-item .nav-link, .section-main .main-descr {
  font-family: 'ProximaNR', sans-serif; }

.section-main .scroll-container .scroll-down-text, .sect-one .best-block .best-capt .best, .sect-one .best-block .best-descr, .sect-two .services-descr, .sect-three .center .slick-slide .overlay .overlay-descr, .sect-four .sect-four-descr, .footer .footer-descr {
  font-family: 'ProximaNL', sans-serif; }

.section-main .main-header, .sect-two .sect-two-header, .sect-four .sect-four-capt {
  font-size: 2.6rem; }

.section-main .price-btn-container .btn-container, .sect-one .best-block .price-btn-container .btn-container, .sect-two .price-btn-container .btn-container, .sect-three .center .slick-slide .overlay .overlay-btn-container .overlay-btn, .sect-four .overlay-btn-container .overlay-btn {
  background: -moz-linear-gradient(16deg, #49007c, #bb0085);
  background: -webkit-linear-gradient(16deg, #49007c, #bb0085);
  background: -ms-linear-gradient(16deg, #49007c, #bb0085);
  background: linear-gradient(16deg, #49007c, #bb0085); }

.section-main .price-btn-container .btn-container:hover, .sect-one .best-block .price-btn-container .btn-container:hover, .sect-two .price-btn-container .btn-container:hover, .sect-three .center .slick-slide .overlay .overlay-btn-container .overlay-btn:hover, .sect-four .overlay-btn-container .overlay-btn:hover {
  background: -moz-linear-gradient(16deg, #bb0085, #49007c);
  background: -webkit-linear-gradient(16deg, #bb0085, #49007c);
  background: -ms-linear-gradient(16deg, #bb0085, #49007c);
  background: linear-gradient(16deg, #bb0085, #49007c);
  transition: background 0.7s; }

.section-main .price-btn-container .btn-container, .sect-one .best-block .price-btn-container .btn-container, .sect-two .price-btn-container .btn-container, .sect-three .center .slick-slide .overlay .overlay-btn-container .overlay-btn, .sect-four .overlay-btn-container .overlay-btn {
  width: 205px;
  padding: 0.6rem 2.88rem;
  border-radius: 1.7rem;
  color: #fff; }
  .section-main .price-btn-container .btn-container:active, .sect-one .best-block .price-btn-container .btn-container:active, .sect-two .price-btn-container .btn-container:active, .sect-three .center .slick-slide .overlay .overlay-btn-container .overlay-btn:active, .sect-four .overlay-btn-container .overlay-btn:active {
    border-color: transparent; }
  .section-main .price-btn-container .btn-container:focus, .sect-one .best-block .price-btn-container .btn-container:focus, .sect-two .price-btn-container .btn-container:focus, .sect-three .center .slick-slide .overlay .overlay-btn-container .overlay-btn:focus, .sect-four .overlay-btn-container .overlay-btn:focus {
    border-color: transparent; }

.sect-two .services-capt, .sect-three .center .slick-slide .overlay .overlay-header {
  font-size: 1.8rem; }

.sect-two .services-descr, .sect-three .center .slick-slide .overlay .overlay-descr {
  font-size: 1.1rem; }

.section-main {
  background-image: url("../img/main/main-bg.jpg");
  background-size: cover; }
  .section-main .header .menu-nav {
    display: flex;
    justify-content: flex-end; }
    .section-main .header .menu-nav .nav-item .nav-link {
      color: #000 !important;
      margin-right: 30px; }
      .section-main .header .menu-nav .nav-item .nav-link:hover {
        border: 1px solid #000;
        border-radius: 1.4rem; }
  .section-main .price-btn-container {
    padding-bottom: 410px; }
  .section-main .main-descr {
    color: #a7acbc; }
  .section-main .scroll-container {
    padding-bottom: 100px; }
    .section-main .scroll-container .scroll-down-text {
      padding-top: 10px;
      color: white;
      font-size: 0.8rem; }
      .section-main .scroll-container .scroll-down-text:hover {
        text-decoration: none; }

.header {
  padding-bottom: 150px; }

.main-descr {
  padding-bottom: 60px; }

.sect-one .best-block {
  padding-top: 9.06rem;
  padding-bottom: 9.06rem;
  color: white; }
  .sect-one .best-block .best-capt {
    font-size: 3rem; }
  .sect-one .best-block .best-descr {
    font-size: 1.125rem; }
.sect-one .bd-txt {
  padding-right: 75px; }
.sect-one .bc-txt {
  padding-left: 75px; }

.bc {
  background: url(../img/one/right-bg.jpg) center center no-repeat;
  background-size: cover; }

.bd {
  background: url(../img/one/left-bg.jpg) center center no-repeat;
  background-size: cover; }

.sect-two .sect-two-header {
  color: black; }
.sect-two .services-descr {
  color: #a7acbc; }
.sect-two .web-design, .sect-two .digital-painting {
  padding-right: 30px; }
.sect-two .web-app, .sect-two .desctop-app {
  padding-left: 30px; }

.sect-three {
  position: relative;
  padding: 0; }
  .sect-three .center .slick-slide {
    position: relative; }
    .sect-three .center .slick-slide .overlay {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20%;
      width: 100%;
      height: 100%;
      color: white;
      opacity: 0;
      transition: opacity .5s ease;
      background-color: rgba(0, 0, 0, 0.5); }
    .sect-three .center .slick-slide:hover {
      cursor: pointer; }
      .sect-three .center .slick-slide:hover .overlay {
        opacity: 1; }
  .sect-three .paginator li {
    position: absolute;
    top: 45%;
    display: block;
    height: 58px;
    width: 58px; }
    .sect-three .paginator li:hover {
      cursor: pointer; }
    .sect-three .paginator li.prev {
      left: 0;
      background: url(../img/three/arrow-btn-left.png); }
    .sect-three .paginator li.next {
      right: 0;
      background: url(../img/three/arrow-btn-right.png); }

.sect-four {
  background-image: url("../img/four/bg.jpg");
  background-size: cover;
  margin-top: -20px;
  color: white;
  text-align: center; }
  .sect-four .sect-four-descr {
    color: #a7acbc;
    padding-bottom: 100px; }
  .sect-four .team-container .team-container-descr {
    color: #a7acbc; }

.sect-five .google-map {
  width: 100%;
  height: 600px; }

.footer .footer-descr {
  color: #a7acbc; }
  .footer .footer-descr .footer-descr-bold {
    color: #a7acbc; }

/*# sourceMappingURL=style.css.map */
